*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    background: #CE8ECE;
    background: -moz-linear-gradient(left, #CE8ECE 0%, #23A49C 50%, #C59CA9 100%);
    background: -webkit-linear-gradient(left, #CE8ECE 0%, #23A49C 50%, #C59CA9 100%);
    background: linear-gradient(to right, #CE8ECE 0%, #23A49C 50%, #C59CA9 100%);
    border: 8px dashed rgb(102, 5, 94);
    min-width: 300px;
    min-height: 100vh;  
    display: grid;


   
    
}
#title{
 
  display: grid;
  align-items: center;
  justify-items: center;



}
#buttonsWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

}

.buttons{
    border-radius: 50%;
    border: 4px dotted rgb(56, 3, 87);
    padding: 10px;


    
    cursor: pointer;
}
.buttons:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.5);
    color: #ff7a59;
    background: transparent;
  }
.draw{
    
font-family: "Times New Roman", Times, serif;
font-size: 25px;
letter-spacing: 0px;
word-spacing: 0px;
color: #332f2f;
font-weight: 200;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: none;
}
.win{
font-family: "Times New Roman", Times, serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 1px;
color: #048a30;
font-weight: 200;
text-transform: capitalize;

}
.lose{
font-family: "Times New Roman", Times, serif;
font-size: 25px;
letter-spacing: 0px;
word-spacing: 1px;
color: #9e0000;
font-weight: 100;
text-decoration: none;
font-style: normal;
font-variant:small-caps;
text-transform: capitalize;
}
#playerScore{

color: rgb(1, 102, 1);
font-size: 23px;
margin-bottom: -30px;


}
#computerScore{
color: rgb(192, 2, 2);
font-size: 23px;




}
#result{

    display: grid;
    grid-template-columns: 1.5fr 1fr ;
      
}
#scoreContainer{
display:grid;


}
#score{
display: grid;
align-items: center;
margin-top: -50px;
margin-left: 40px;


}

#resetButton{
   
    display: grid;
    align-items: center;
    justify-items: center;
}
#rstbtn{
    background: #25719c;
    height: 60px;
    width: 80px;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}
#rstbtn:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
  }