*{
    margin: 0;
    padding: 0;
}
#buttonsWrapper{
    display: flex;
    height: 300px;
    width: 800px;
    align-items: center;
    justify-content: center;
    gap: 180px;
}
.buttons{
    height: 52px;
    cursor: pointer;
}
.buttons:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.5);
    color: #ff7a59;
    background: grey;
  }
#wrapper{
    background: #CE8ECE;
    background: -moz-linear-gradient(left, #CE8ECE 0%, #23A49C 50%, #C59CA9 100%);
    background: -webkit-linear-gradient(left, #CE8ECE 0%, #23A49C 50%, #C59CA9 100%);
    background: linear-gradient(to right, #CE8ECE 0%, #23A49C 50%, #C59CA9 100%);
    border: 2px solid cadetblue;
    min-width: 300px;
    height: 60em;  
    align-items: center;
    justify-content: center;
   
    
}
.draw{
font-family: "Times New Roman", Times, serif;
font-size: 30px;
letter-spacing: 0px;
word-spacing: 0px;
color: #332f2f;
font-weight: 200;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: none;
}
.win{
font-family: "Times New Roman", Times, serif;
font-size: 30px;
letter-spacing: 2px;
word-spacing: 1px;
color: #048a30;
font-weight: 200;
text-decoration: none;
font-style: normal;
font-variant:normal;

}
.lose{
font-family: "Times New Roman", Times, serif;
font-size: 20px;
letter-spacing: 0px;
word-spacing: 1px;
color: #9e0000;
font-weight: 100;
text-decoration: none;
font-style: normal;
font-variant:small-caps;
text-transform:lowercase;
}
#result{
    text-align: center;
}
#resetButton{
    text-align: center;
}
#rstbtn{
    background: #239ba4;
    height: 40px;
    width: 60px;
    color: white;
    cursor: pointer;
}
#rstbtn:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
  }